## Scratchpad

In [1]:
import env
import zillow_wrangle as zw
import pandas as pd
import numpy as np
import os

In [2]:
zillow = zw.get_zillow_data()
zillow.head()

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips,regionidzip
0,3.0,2.0,1772.0,418763.0,1978.0,4464.42,6111.0,97089.0
1,3.0,2.0,1819.0,478430.0,1981.0,5515.94,6111.0,97118.0
2,2.0,2.0,1503.0,171687.0,1933.0,2287.55,6037.0,96414.0
3,4.0,2.0,1604.0,498347.0,1950.0,6089.82,6037.0,96415.0
4,3.0,3.0,2384.0,549917.0,1937.0,6679.55,6037.0,96452.0

In [3]:
zillow.fips = zillow.fips.astype('int64')
zillow.fips.value_counts()

6037    20951
6059     8254
6111     1665
Name: fips, dtype: int64

In [4]:
fips = {'fips': [6037, 6059, 6111],
       'county': ['Los Angeles County', 'Orange County', 'Ventura County'],
       'state': ['CA', 'CA', 'CA']}

fips_name = pd.DataFrame(data=fips)
fips_name

   fips              county state
0  6037  Los Angeles County    CA
1  6059       Orange County    CA
2  6111      Ventura County    CA

In [5]:
zillow = zillow.merge(fips_name, left_on='fips', right_on='fips', how='outer', indicator=False)

In [6]:
zillow.head()

,bedroomcnt,bathroomcnt,calculatedfinishedsquarefeet,taxvaluedollarcnt,yearbuilt,taxamount,fips,regionidzip,county,state
0,3.0,2.0,1772.0,418763.0,1978.0,4464.42,6111,97089.0,Ventura County,CA
1,3.0,2.0,1819.0,478430.0,1981.0,5515.94,6111,97118.0,Ventura County,CA
2,3.0,3.0,3715.0,1222271.0,1983.0,14064.68,6111,97099.0,Ventura County,CA
3,2.0,1.0,912.0,126974.0,1985.0,1489.06,6111,97094.0,Ventura County,CA
4,3.0,2.0,1595.0,315148.0,1984.0,3479.18,6111,97097.0,Ventura County,CA

In [7]:
# {6037: 'Los Angeles County, CA',
#            6059: 'Orange County, CA',
#            6111: 'Ventura County, CA'}, columns=['fips', 'fips_name']

In [8]:
zillow.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30870 entries, 0 to 30869
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   bedroomcnt                    30870 non-null  float64
 1   bathroomcnt                   30870 non-null  float64
 2   calculatedfinishedsquarefeet  30778 non-null  float64
 3   taxvaluedollarcnt             30865 non-null  float64
 4   yearbuilt                     30770 non-null  float64
 5   taxamount                     30815 non-null  float64
 6   fips                          30870 non-null  int64
 7   regionidzip                   30831 non-null  float64
 8   county                        30870 non-null  object
 9   state                         30870 non-null  object
dtypes: float64(7), int64(1), object(2)
memory usage: 2.6+ MB

In [9]:
zillow = zillow.replace(r'^\s*$', np.nan, regex=True)
zillow = zillow.dropna()
zillow.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30699 entries, 0 to 30869
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   bedroomcnt                    30699 non-null  float64
 1   bathroomcnt                   30699 non-null  float64
 2   calculatedfinishedsquarefeet  30699 non-null  float64
 3   taxvaluedollarcnt             30699 non-null  float64
 4   yearbuilt                     30699 non-null  float64
 5   taxamount                     30699 non-null  float64
 6   fips                          30699 non-null  int64
 7   regionidzip                   30699 non-null  float64
 8   county                        30699 non-null  object
 9   state                         30699 non-null  object
dtypes: float64(7), int64(1), object(2)
memory usage: 2.6+ MB

In [10]:
zips = get_zipcode_data()
zips.head()

NameError: name 'get_zipcode_data' is not defined

In [ ]:
zips.info()

In [ ]:
zips.isnull().sum()

In [ ]:
zips = zips.replace(r'^\s*$', np.nan, regex=True)

In [ ]:
zips.isnull().sum()

In [ ]:
zips = zips.dropna()
zips.info()

In [ ]:
zillow = zillow.rename(columns = {'bedroomcnt': 'bedrooms',
                             'bathroomcnt': 'bathrooms',
                             'calculatedfinishedsquarefeet': 'sqft',
                             'taxvaluedollarcnt': 'tax_value',
                             'taxamount': 'tax_amount',
                             'yearbuilt': 'year_built',
                             'regionidzip': 'zipcode'})

zillow = zillow.replace(r'^\s*$', np.nan, regex=True) # Format nulls
zillow = zillow.dropna()    # drop nulls

# Change bedroom count, year built, calculated finished squarefeet, and fips value type to int
zillow.bedrooms = zillow.bedrooms.astype('int64')
zillow.sqft = zillow.sqft.astype('int64')
zillow.year_built = zillow.year_built.astype('int64')
zillow.fips = zillow.fips.astype('int64')
zillow.zipcode = zillow.zipcode.astype('int64')

In [ ]:
zillow.head()

In [ ]:
zips = zips.astype('int64')
zips.head()

In [ ]:
# Combining DFs
zillow = zillow.merge(zips, left_on='zipcode', right_on='zipcode', how='outer', indicator=True)

In [ ]:
zillow.info()

In [ ]:
zillow = zillow.dropna()

In [ ]:
zillow.info()

In [ ]:
zillow_test = zw.wrangle_zillow()
zillow_test.info()

In [ ]:
zillow.head(1)

In [ ]:
zillow_test.head(1)