# Zillow Project
### - By Jeff Akins

In [1]:
# Imports:
import zillow_wrangle as zw
import zillow_models as zm

import pandas as pd
import numpy as np

### Acquire

In [2]:
zillow = zw.wrangle_zillow()
zillow.head(3)

,bedrooms,bathrooms,sqft,tax_value,year_built,tax_amount,fips,zipcode,zipcode_count,zipcode_avg_price,_merge
0,3,2.0,1772,418763.0,1978,4464.42,6111,97089,10244,408141,both
1,4,2.0,1896,94711.0,1957,1017.10,6111,97089,10244,408141,both
2,5,4.5,3980,769907.0,1999,8650.36,6111,97089,10244,408141,both

In [3]:
zillow.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29789 entries, 0 to 29788
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   bedrooms           29789 non-null  int64
 1   bathrooms          29789 non-null  float64
 2   sqft               29789 non-null  int64
 3   tax_value          29789 non-null  float64
 4   year_built         29789 non-null  int64
 5   tax_amount         29789 non-null  float64
 6   fips               29789 non-null  int64
 7   zipcode            29789 non-null  int64
 8   zipcode_count      29789 non-null  int64
 9   zipcode_avg_price  29789 non-null  int64
 10  _merge             29789 non-null  category
dtypes: category(1), float64(3), int64(7)
memory usage: 2.5 MB

### Scaling

### Explore

### Feature Engineer

### Model

### Evaluate