# Zillow Project
### - By Jeff Akins

In [1]:
# Imports:
import zillow_wrangle as zw
import zillow_models as zm

import pandas as pd
import numpy as np

### Acquire

In [2]:
train, validate, test = zw.wrangle_zillow()
train.head(3)

         bedrooms  bathrooms  sqft  tax_value  year_built  tax_amount
1440114         3        2.0  1157   360752.0        1963     4074.04
1569296         4        2.5  2581   350938.0        1972     8116.06
1745419         3        2.0  1397   270917.0        1954     3288.73

### Scaling

### Explore

### Feature Engineer

### Model

### Evaluate